---
import AllArtists from "../components/AllArtists.svelte";
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="About ohalanʌ́ht">
    <div class="max-w-6xl mx-auto p-4 min-h-screen">
        <h1 class="text-6xl font-heading text-gray-700">Our Name</h1>
        
        <div class="w-full flex justify-center">
            
            <div class="flex flex-col gap-4">
                <div class="min-h-[600px] flex items-center">
                    <p class="text-4xl font-extralight">
                        Ohalanʌ́ht (pronounced ohala-nuht) translates to purple in the Oneida language. Our founding members chose to name our group after the color purple because of the color’s ties to the city of Minneapolis.
                    </p>
                </div>
                <div class="min-h-[600px] flex items-center">
                    <p class="text-4xl font-extralight">
                        Purple is the color of Prince (obviously), the color of the Vikings (less important), and the color Babe the Blue Ox turns when he gets a sunburn. For real, though, the cultural boom of Prince and the Minneapolis Sound connected our city to a global audience, leaving an influence that far outstretched the Midwest. And the lights of the Minneapolis skyline still frequently shine purple for this reason. Our collective is purple because we wanted to evoke this global media connection, and continue that funky purple glow in whatever forms of media we create.
                   </p>
                </div>
                
                <div class="min-h-[600px] flex items-center">
                    <p class="text-4xl font-extralight">
                        But why say it in Oneida? Well, one of our founding members is from the Oneida tribe in the Iroquois Nation. His favorite naming trick is to translate titles into Oneida, and when he translated the color purple into the Oneida language, Ohalanʌ́ht was born.
                    </p>
                </div>
                
                
            </div>
        
        </div>
        

    </div>

    <div class="w-full bg-slate-50">
        <div class="max-w-6xl mx-auto p-4 min-h-[500px] flex items-center">
            <div class="w-full">
                <h1 class="text-5xl text-gray-700 font-heading mb-8">
                    Our Founders
                </h1>
                <div class=" flex items-center">
                    <AllArtists/>
                </div>
            </div>
        </div>
        
    </div>

    <div class="max-w-6xl mx-auto p-4 min-h-[500px] flex items-center">
        <div class="w-full">
            <h1 class="text-5xl text-gray-700 font-heading mb-8">
                Why we create here, in a smaller collective?
            </h1>
            <div class="t font-extralight flex flex-col gap-8">
                <p class="text-2xl">
                    Our collective is member owned, which allows much more creative freedom than can be explored in a larger commercial studio. Allowing our artists access to the tools and space they need is crucial to circumnavigating the kafkaesque production lines of more mainstream media outlets. What does this mean for our media? It means that our artists can create work with more diversity, more originality, and the kind of passion that drives personally motivated projects. 
                </p>
                <p class="text-2xl">
                    Furthermore, being a collective of our size means that Ohalanʌ́ht will have a deeper relationship with the surrounding community. Our artists are ingrained in the city we choose to live and work in. We want to break down the wall between media creators and media consumers, so that artists and audience can become one community. We want to create art that resonates with the people we see around us every day.
                </p>
                <p class="text-2xl">
                    And if art from Ohalanʌ́ht inspires a neighbor to start creating too, that’s great! We’ll have gathered a tight-knit group of talented animators, photographers, comic artists and filmmakers to network with and learn from. When artists and audience become one community, the arts become more accessible to everyone.

                </p>
            </div>
        </div>
    </div>
</MainLayout>