---
import Header from "../components/header.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Welcome to ohalanʌ́ht">
	<Header/>
	<div class="max-w-5xl mx-auto p-4">
		
		<div class="w-full flex justify-center min-h-screen items-center">
			<h1 class="text-7xl font-extralight text-center capitalize">Empowering creativity outside the <span class="fancy-underline">hot dish.</span></h1>
		</div>

		<div class="w-full min-h-[500px] flex flex-wrap">
			<div class="flex flex-col gap-4 max-w-[500px]">
				<h1 class="text-5xl font-extralight">The “Modern Multimedia”</h1>
				<ul class="text-2xl font-extralight">
					<li>Member-owned collective</li>
					<li>Provide artists space to elevate the next generation’s taste for multimedia</li>
					<li>Photography, Comics, Film, 2D and 3D Animation</li>
				</ul>
			</div>
			<div class="max-w-[400px]">
				<img class="w-full" src="/sun.svg" alt="">
			</div>
		</div>

		<div class="w-full min-h-[500px] flex flex-wrap">
			<div class="flex flex-col gap-4 max-w-[500px]">
				<h1 class="text-5xl font-extralight">Why</h1>
				<ul class="text-2xl font-extralight">
					<li>Member owned - More creative freedom</li>
					<li>Space to resist monopolization and kafkaesque production pipelines.
					</li>
					<li>Audience and artist as one community</li>
				</ul>
			</div>
			<div class="max-w-[400px]">
				<img class="w-[300px]" src="/check.svg" alt="">
			</div>
		</div>
		
	</div>
</MainLayout>

